.navpersonalized {
  background-color: #389EFF !important; }
  .navpersonalized a {
    color: #F8FAFB !important; }

body {
  font-family: roboto;
  padding-top: 3rem; }
  body h2 {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin: 2rem; }
  body p {
    font-weight: 600; }
  body h3 {
    font-weight: bold; }
  body dialog {
    border-radius: 1cm;
    padding-bottom: 1rem; }
    body dialog ul {
      list-style-type: disclosure-closed;
      font-weight: 600;
      margin: 0 12rem; }
    body dialog li {
      padding: 0.5rem; }
    body dialog::backdrop {
      background-color: rgba(0, 0, 0, 0.7); }
  body label {
    font-weight: 600; }
  body .box-list {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1cm; }
    body .box-list ul {
      list-style-type: disclosure-closed;
      font-weight: 600; }
    body .box-list li {
      padding: 0.5rem; }
  body .no-datos {
    color: #DE3C4B;
    font-size: 80%; }

.seccion-requisitos {
  background-color: #389EFF; }
  .seccion-requisitos h2 {
    padding-bottom: 1rem;
    margin: 0; }
  .seccion-requisitos button {
    background-color: #DE3C4B;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1rem; }
    .seccion-requisitos button:hover {
      background-color: #389EFF;
      color: #F8FAFB;
      transition: all, linear 0.3s; }
  .seccion-requisitos .btn-modal {
    margin: 3px; }

.seccion-comofunciona {
  text-align: center; }
  .seccion-comofunciona span {
    color: #389EFF; }
  .seccion-comofunciona .col-lg-4 {
    padding: 2rem 3rem; }
  .seccion-comofunciona .bx {
    color: #389EFF;
    border-color: #389EFF;
    margin-bottom: 1rem; }

.seccion-porque-escogernos {
  background-color: #389EFF; }
  .seccion-porque-escogernos span {
    color: #F8FAFB; }
  .seccion-porque-escogernos ul {
    list-style-type: disclosure-closed;
    font-weight: 600; }
  .seccion-porque-escogernos li {
    padding: 0.5rem; }
  .seccion-porque-escogernos .lista-porqueelegirnos {
    background-color: white;
    margin: 2rem;
    padding: 3rem;
    border-radius: 1cm; }

.seccion-calcular-prestamo button {
  background-color: #DE3C4B;
  font-weight: 600;
  border-radius: 0.5rem;
  margin: 1rem 12rem; }
  .seccion-calcular-prestamo button:hover {
    background-color: #389EFF;
    color: #F8FAFB;
    transition: all, linear 0.3s; }

.seccion-preguntas-frecuentes {
  background-color: #389EFF; }
  .seccion-preguntas-frecuentes p {
    font-size: 0.9rem; }
  .seccion-preguntas-frecuentes .accordion-button {
    background-color: #389EFF;
    font-weight: 600; }
  .seccion-preguntas-frecuentes .accordion-item {
    background-color: #389EFF;
    font-weight: 600; }
