@import 'variables';
@import 'header';

body {
    font-family: $font-primary;
    padding-top: 3rem;

    h2 {
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
        margin: 2rem;
    }
}

.box-list {
    background-color: white;
    margin: 2rem;
    padding: 3rem;
    border-radius: 1cm;

    ul {
        list-style-type: disclosure-closed;
        font-weight: 600;
    }

    li {
        padding: 0.5rem;
    }
}

.seccion-requisitos {
    background-color: $color-primary;

    h2 {
        padding-bottom: 1rem;
        margin: 0;
    }

    button {
        background-color: $color-detail;
        font-weight: 600;
        border-radius: 0.5rem;

        &:hover {
            background-color: $color-primary;
            color: $color-text;
            transition: all, linear 0.3s;
        }
    }
}

.seccion-comofunciona {
    text-align: center;

    span {
        color: $color-primary;
    }

    h3 {
        font-weight: bold;
    }

    p {
        font-weight: 600;
    }

    .col-lg-4 {
        padding: 2rem 3rem;
    }

    .bx {
        color: $color-primary;
        border-color: $color-primary;
        margin-bottom: 1rem;
    }
}

.seccion-porque-escogernos {
    background-color: $color-primary;

    span {
        color: $color-text;
    }

    ul {
        list-style-type: disclosure-closed;
        font-weight: 600;
    }

    li {
        padding: 0.5rem;
    }

    .lista-porqueelegirnos {
        background-color: white;
        margin: 2rem;
        padding: 3rem;
        border-radius: 1cm
    }
}

.seccion-calcular-prestamo{
    button {
        background-color: $color-detail;
        font-weight: 600;
        border-radius: 0.5rem;

        &:hover {
            background-color: $color-primary;
            color: $color-text;
            transition: all, linear 0.3s;
        }
    }
}

.seccion-preguntas-frecuentes{
    background-color: $color-primary;
    color: $color-text;
    .accordion-button{
        background-color: $color-primary;
        color: $color-text;
    }
    .accordion-item{
        background-color: $color-primary;
    }
}